In [1]:
import pandas as pd

kas = pd.read_csv('kaspa_history.csv')
kas

,time_open,open,high,low,close,volume,quote_volume,time_close
0,1664290800000,0.001500,0.005500,0.000500,0.004800,10849882.63,55373.625015,1664290860000
1,1664290860000,0.004800,0.004999,0.004304,0.004599,4756567.04,22588.744778,1664290920000
2,1664290920000,0.004599,0.004600,0.003800,0.004380,4130337.74,17664.424025,1664290980000
3,1664290980000,0.004380,0.004727,0.004380,0.004584,3346606.50,15494.468774,1664291040000
4,1664291040000,0.004584,0.004690,0.004501,0.004558,507924.77,2362.421476,1664291100000
...,...,...,...,...,...,...,...,...
972787,1722658200000,0.186714,0.186714,0.186644,0.186648,3527.38,658.423477,1722658260000
972788,1722658260000,0.186648,0.186648,0.186630,0.186630,5859.75,1093.709591,1722658320000
972789,1722658320000,0.186630,0.186648,0.186367,0.186533,37794.60,7052.658893,1722658380000
972790,1722658380000,0.186533,0.186533,0.186441,0.186441,247.95,46.228445,1722658440000
972791,1722658440000,0.186441,0.186629,0.186441,0.186509,2939.89,548.515990,1722658500000

In [2]:
kas = kas.drop_duplicates()
kas = kas.sort_values(by=['time_open'])
kas

,time_open,open,high,low,close,volume,quote_volume,time_close
0,1664290800000,0.001500,0.005500,0.000500,0.004800,10849882.63,55373.625015,1664290860000
1,1664290860000,0.004800,0.004999,0.004304,0.004599,4756567.04,22588.744778,1664290920000
2,1664290920000,0.004599,0.004600,0.003800,0.004380,4130337.74,17664.424025,1664290980000
3,1664290980000,0.004380,0.004727,0.004380,0.004584,3346606.50,15494.468774,1664291040000
4,1664291040000,0.004584,0.004690,0.004501,0.004558,507924.77,2362.421476,1664291100000
...,...,...,...,...,...,...,...,...
972787,1722658200000,0.186714,0.186714,0.186644,0.186648,3527.38,658.423477,1722658260000
972788,1722658260000,0.186648,0.186648,0.186630,0.186630,5859.75,1093.709591,1722658320000
972789,1722658320000,0.186630,0.186648,0.186367,0.186533,37794.60,7052.658893,1722658380000
972790,1722658380000,0.186533,0.186533,0.186441,0.186441,247.95,46.228445,1722658440000
972791,1722658440000,0.186441,0.186629,0.186441,0.186509,2939.89,548.515990,1722658500000

In [3]:
kas.to_csv('kaspa_history.csv')